name: Backup Salesforce Metadata

on:
  schedule:
    # Scheduled to run at midnight UTC every day
    # UNCOMMENT TO ENABLE
    - cron: "0 0 * * *"

  # Allows manual triggering from the GitHub Actions UI
  workflow_dispatch:

jobs:
  backup_metadata:
    runs-on: ubuntu-latest
    environment: production
    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Use local action to perform Salesforce backup and create PR
      - name: Backup Salesforce Metadata
        uses: jawills/sf-retrieve@v1
        with:
          SFDX_AUTH_URL: ${{ secrets.SFDX_AUTH_URL }}
          SOURCE_DIR: force-app
          BRANCH_NAME: backup
          FORCE_PUSH: true
